---
import Layout from '../../../layouts/BlogLayout.astro';

export async function getStaticPaths() {
  const allPostFiles = import.meta.glob('../../*.md', { eager: true });

  const allTags = new Set();
  for (const path in allPostFiles) {
    const post = allPostFiles[path];
    if (Array.isArray(post.frontmatter.tags)) {
      post.frontmatter.tags.forEach(tag => allTags.add(tag));
    }
  }

  return Array.from(allTags).map(tag => ({
    params: { tag }
  }));
}

const { tag } = Astro.params;
const allPostFiles = import.meta.glob('../../*.md', { eager: true });

const filteredPosts = Object.entries(allPostFiles)
  .filter(([_, post]) => Array.isArray(post.frontmatter.tags) && post.frontmatter.tags.includes(tag))
  .map(([path, post]) => ({
    title: post.frontmatter.title,
    slug: path.split('/').pop().replace('.md', '')
  }));
---

<Layout title={`Posts tagged: ${tag}`}>
  <h1 class="text-2xl font-bold mb-4">Posts tagged with: #{tag}</h1>
  <ul>
    {filteredPosts.map(post => (
      <li class="mb-2">
        <a href={`/blog/${post.slug}/`} class="text-blue-600 dark:text-blue-300 hover:underline">
          {post.title}
        </a>
      </li>
    ))}
  </ul>
</Layout>
